{% if object.sortableRank < admin.last_position %}
    <a class="movebottom_link btn btn-small" href="{{ admin.generateObjectUrl('move', object, {'position': 'bottom'}) }}" title="{% trans %}Move bottom{% endtrans %}">⇊</a>
    <a class="movedown_link btn btn-small" href="{{ admin.generateObjectUrl('move', object, {'position': 'down'}) }}" title="{% trans %}Move down{% endtrans %}">↓</a>
{% endif %}

{% if object.sortableRank > 1 %}
    <a class="moveup_link btn btn-small" href="{{ admin.generateObjectUrl('move', object, {'position': 'up'}) }}" title="{% trans %}Move up{% endtrans %}">↑</a>
    <a class="movetop_link btn btn-small" href="{{ admin.generateObjectUrl('move', object, {'position': 'top'}) }}" title="{% trans %}Move top{% endtrans %}">⇈</a>
{% endif %}